<h1><%= current_user.name %>のお気に入り</h1>
<table>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.user.name%></td>
        <td><%= image_tag favorite.image.url if favorite.image.present? %></td>
        <td><%= favorite.content %></td>
      </tr>
    <% end %>


  </tbody>
</table>
<%= link_to "Picture", pictures_path %>
